sudo: false
branches:
  only:
  - master
language: python
cache: pip
python:
  - 2.6
  - 2.7
  - 3.4
  - 3.5
  - 3.6
install:
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt
script:
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then flake8; fi
  - py.test tests
